@media (min-width: 700px) {
  .dl-horizontal dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 200px;
  }
}

dd.past + dt.past {
  margin-top: 0;
}

dt.past,
dd.past {
  z-index: 1;
  opacity: 0.4;
}

@media (min-width: 700px) {
  dt.new-month, dt.new-month + dd {
    border-top: 15px solid transparent;
  }
}

@media (max-width: 700px) {
  dt {
    display: block;
  }

  dt.new-month {
    border-top: 15px solid transparent;
  }
}

span.flag-icon {
  height: .8em;
}
