{% if post == null %}
  {% assign post = page %}
{% endif %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h3 itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <div class="meta">
      <p class="time"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time></p>
      <ul>
        {% for category in post.categories %}
          <li>{{ category }}
        {% endfor %}
      </ul>
    </div>
  </header>

  <div class="content" itemprop="articleBody">
    {{ post.content }}
  </div>

</article>
