<section id="sidebar">
  <h1><a href="{{ "/index.html" | prepend: site.baseurl }}">ncag.<span id="info">info</span></a></h1>

  <p id="tagline">{{ site.description }}</p>

  <div id="sidebar-content">
    <h2>Categories</h2>
    <ul class="categories">
      {% for tag in site.tags %}
        <li><a href="{{ "/categories.html#" | append: tag[0] | prepend:site.baseurl }}">{{ tag[0] }}</a>
      {% endfor %}
    </ul>

    {% comment %}
    <h2>Conferences</h2>
    {% assign conferences = site.data.conferences | sort: "start" | reverse %}
    <ul>
    {% for conference in conferences %}
      <li data-end="{{ conference.end }}">
        {{ conference.start | date: "%b %d, %Y" }}: 
        {% if conference.url %}
          <a href="{{ conference.url }}">{{ conference.title }}</a>
        {% else %}
          {{ conference.title }}
        {% endif %} 
    {% endfor %}
    {% endcomment %}
    </ul>
  </div>
</section>
