---
layout: page
title: Conferences
---

<p>If you have contributions to make, please get in touch on <a href="mailto:pieter.belmans@uantwerpen.be">pieter.belmans@uantwerpen.be</a>.
<p>This website has last been updated on <a href="https://github.com/ncag-info/ncag-info.github.io/commits/master">{{ site.time | date: '%B %d, %Y' }}</a>.
{% assign conferences = site.data.conferences | sort: "start" | reverse %}
<dl class="dl-horizontal" id="conferences">
{% assign month = "" %}
{% for conference in conferences %}
  {% assign new = conference.start | date: "%b" %}
  {% if month == new %}
    <dt data-end="{{ conference.end }}">{{ conference.start | date: "%b %d, %Y" }}&ndash;{{ conference.end | date: "%b %d, %Y" }}</dt>
  {% else %}
    <dt class="new-month" data-end="{{ conference.end }}">{{ conference.start | date: "%b %d, %Y" }}&ndash;{{ conference.end | date: "%b %d, %Y" }}</dt>
  {% endif %}
  <dd>
    {% if conference.url %}
      <a href="{{ conference.url }}">{{ conference.title }}</a>
    {% else %}
      {{ conference.title }}
    {% endif %}

  {% assign month = new %}
  <dd>{{ conference.location }}, {{ conference.country }}
{% endfor %}
</dl>
