<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ site.title }}: {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/bootstrap/css/bootstrap.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/layout.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/conferences.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/flag-icon.css" | prepend: site.baseurl }}">

  <link rel="icon" type="image/png" href="{{ "/favicon-256x256.png" | prepend: site.baseurl }}" size="256x256">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']]
      },
      TeX: {
        extensions: ["AMSmath.js", "AMSsymbols.js"]
      },
    });
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

  <script type="text/javascript" src="{{ "/js/conferences.js" | prepend: site.baseurl }}"></script>

  <script defer data-domain="ncag.info" src="https://plausible.io/js/script.js"></script>
</head>
