article.post {
}

article.post header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  min-height: 5em;
  border-bottom: 1px solid black;
}

article.post header h3,
article.post header div#meta {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -ms-flex: 1;
  margin: 0;
}

article.post header h3 {
  font-family: "Raleway", Helvetica, sans-serif;
  border-right: 1px solid black;
  padding: 1em;
}

article.post header div.meta {
  width: 10em;
  min-width: 10em;
  padding: 1em;
}

@media screen and (max-width: 700px) {
  article.post header {
    display: block;
  }

  article.post header h3 {
    border: 0;
    border-bottom: 1px solid black;
  }

  article.post header div.meta {
    padding: .2em 1em;
    width: 100%;
  }

  article.post header div.meta ul.categories:before {
    content: "category: ";
  }

  article.post header div.meta ul.categories {
    display: inline;
    list-style: none;
  }

  article.post header div.meta ul.categories li {
    display: inline;
  }

  article.post header div.meta ul.categories li:after {
    content: ", ";
  }

  article.post header div.meta ul.categories li:last-child:after {
    content: "";
  }

  article.post header div.meta p.time {
    display: inline;
  }
}

article.post header div.meta p.time {
  font-weight: bold;
  font-size: .9em;
}
